---
# tasks file for common

- name: install common packages
  sudo: true
  yum: pkg={{ item }} state=present
  with_items:
	- screen
	- gnome-tweak-tool
	- google-droid-sans-fonts
	- google-droid-sans-mono-fonts
	- google-droid-serif-fonts
	- vim
  tags: common

- name: create monitors config file for current user, root user & graphical login
  sudo: true
  copy: >
    src=monitors.xml.{{ ansible_hostname }}
    dest={{ items.dir }}/monitors.xml
    owner={{ items.user }}
    group={{ items.user }}
    mode=0644
  with_items:
    - { user: {{ username }}, dir: {{ user_config_dir }} }
    - { user: "root", dir: "/root/.config" }
    - { user: "gdm", dir: "/var/lib/gdm" }
  tags: common

- name: disable certain GNOME keybindings
  command: /bin/gsettings set org.gnome.desktop.wm.keybindings {{ item }} "['disabled']"
  with_items:
    - switch-group
    - switch-group-backward
  tags: common
  