# {{ ansible_managed }}

[branch]
	autosetupmerge = true
	autosetuprebase = always

[color]
	ui = true

[core]
	autocrlf = input
	excludesfile = ~/.gitignore_global

[diff]
	mnemonicprefix = true
	renames = copies

[merge]
	stat = true

[push]
	default = simple

[rerere]
	enabled = true

[user]
	email = {{ git_email_address }}
	name = {{ git_full_name }}
