---
# tasks file for ssh

- name: Create configuration directory for current user
  file:
    path={{ ssh_user_config_dir }}
    owner={{ ansible_user_id }}
    group={{ ansible_user_id }}
    mode=0750
    state=directory
  tags: ssh

- name: Install SSH private keys for current user
  copy:
    content="{{ item.private_key }}"
    dest={{ ssh_user_config_dir }}/{{ item.keyname }}
    owner={{ ansible_user_id }}
    group={{ ansible_user_id }}
    mode=0600
  with_items: ssh_keys
  tags: ssh

- name: Install SSH public keys for current user
  copy:
    content="{{ item.public_key }}"
    dest={{ ssh_user_config_dir }}/{{ item.keyname }}.pub
    owner={{ ansible_user_id }}
    group={{ ansible_user_id }}
    mode=0644
  with_items: ssh_keys
  tags: ssh
