---
# tasks file for jre

- name: Download JRE
  command: >
  	"wget -q -O /tmp/{{ jre_rpm }} --no-check-certificate --no-cookies \
  	--header 'Cookie: oraclelicense=accept-securebackup-cookie' {{ jre_url }}"
  	creates=/tmp/{{ jre_rpm }}
  tags: jre

- name: Install JRE
  yum: pkg=/tmp/{{ jre_rpm }} state=present
  tags: jre

- name: Add Java alternatives
  command: >
  	"alternatives --install {{ item.link }} {{ item.name }} {{ item.path }} 200000"
  with_items:
  	- { link: /usr/bin/java, name: java, path: /usr/java/latest/bin/java }
  	- { link: /usr/bin/javaws, name: javaws, path: /usr/java/latest/bin/javaws }
  	- {
  	  link: /usr/lib64/mozilla/plugins/libjavaplugin.so
  	  name: libjavaplugin.so.x86_64
  	  path: /usr/java/latest/lib/amd64/libnpjp2.so
    }
  tags: jre
