---
# file: desktop.yml

- hosts: 127.0.0.1
  roles:
    - { role: git, full_name: "Michael Goodness", email_address: "mgood@gbpinc.com" }
    - fstrim
    - google_gpg_key
    - google_chrome
    - google_talk_plugin
    - virtualbox
    - vagrant
    - sublime_text
    - docker

