---
# tasks file for samba-server

- name: Install Samba packages
  sudo: true
  yum: name={{ item }} state=present
  with_items:
    - samba
    - libsemanage-python
  tags: samba-server

- name: Set Samba SELinux boolean
  sudo: true
  seboolean: name=samba_export_all_rw persistent=true state=true
  tags: samba-server

- name: Create shared directories
  sudo: true
  file:
    group="{{ item.group | default('users') }}"
    mode="{{ item.directory_mode | default(0775) }}"
    owner=root
    path="{{ item.path }}"
    setype="{{ item.setype | default('samba_share_t') }}"
    state=directory
  when: samba_shares is defined
  with_items: samba_shares
  tags: samba-server

- name: Configure Samba
  sudo: true
  template: backup=true dest=/etc/samba/smb.conf src=smb.conf.j2 validate='testparm -s %s'
  notify:
    - Restart Samba service
    - Restart NetBIOS service
  tags: samba-server

- name: Start Samba service
  sudo: true
  service: enabled=true name=smb state=started
  tags: samba-server

- name: Start NetBIOS service
  sudo: true
  service: enabled=true name=nmb state=started
  tags: samba-server

- name: Configure firewalld for Samba
  sudo: true
  firewalld: permanent=true service=samba state=enabled
  notify:
    - Reload firewalld
  tags: samba-server
