---
# tasks file for google_chrome

- name: Import Google GPG key
  sudo: true
  rpm_key:
    key=https://dl-ssl.google.com/linux/linux_signing_key.pub
    state=present
  tags: google_chrome

- name: Add Google Chrome repository
  sudo: true
  copy:
    src=google-chrome.repo
    dest=/etc/yum.repos.d/google-chrome.repo
    owner=root
    group=root
    mode=0644
  tags: google_chrome

- name: Install Google Chrome (stable)
  sudo: true
  dnf: name=google-chrome-stable state=present
  tags: google_chrome
