---
# tasks file for ovirt-host

- name: Install oVirt repository
  sudo: true
  yum: name={{ ovirt_host_repo }} state=present
  tags: ovirt-host

- name: Open ports in firewalld
  sudo: true
  firewalld: permanent=true port={{ item }} state=enabled
  with_items: ovirt_host_ports
  notify: Restart firewalld
  tags: ovirt-host

- name: Create ovirt-engine entry in /etc/hosts
  sudo: true
  lineinfile:
    dest=/etc/hosts
    line="{{ hostvars[item].ansible_ssh_host }} {{ hostvars[item].ansible_fqdn }}"
    regexp='.*{{ hostvars[item].ansible_fqdn }}$'
    state=present
  with_items: groups['ovirt_engine']
  tags: ovirt-host

# Necessary for hosted-engine appliance?
- name: Install hosted oVirt engine setup
  sudo: true
  yum: name=ovirt-hosted-engine-setup state=present
  tags: ovirt-host

#- name: Deploy hosted-engine appliance
#  run_once: true
#  delegate_to: node0.goodnesstech.net

#- name: Deploy additional node
#  cmd: hosted-engine --deploy --config-append=hosted_engine-answers.conf
