---
# tasks file for google_talk_plugin

- name: Import Google GPG key
  sudo: true
  rpm_key:
    key=https://dl-ssl.google.com/linux/linux_signing_key.pub
    state=present
  tags: google_talk_plugin

- name: Add Google Talk plugin repository
  sudo: true
  copy:
    src=google-talkplugin.repo
    dest=/etc/yum.repos.d/google-talkplugin.repo
    owner=root
    group=root
    mode=0644
  tags: google_talk_plugin

- name: Install Google Talk plugin
  sudo: true
  dnf: name=google-talkplugin state=present
  tags: google_talk_plugin
